[Unit]
Description=Stable-Diffusion
After=network-online.target

[Service]
Type=simple

User=username
Group=username
ExecStart=target/diffusion/stable-diffusion-webui/start.sh
WorkingDirectory=target/diffusion/
Restart=on-failure

[Install]
WantedBy=multi-user.target